#qtable {
    margin-top: 1em;
}

body {
    counter-reset: question_counter;
}

.question:before {
    counter-increment: question_counter;
    content: "#" counter(question_counter) ": ";
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: 1px solid #555;
}
input[type='checkbox']:checked {
    background: #88d98f;
}

td b a {
    color: rgb(7, 61, 7);
}

.jumbotron {
    background: #edffec;
}
.tag-boxes{
    font-size:20px;
}
.tag-boxes span{
    margin-left: 2px;
    margin-right: 3px;
}